Repository Ghost-chu/QuickShop-Reremake, pull requests merged in 2021-10, with the labels that each got.

#1506 New Crowdin updates
  crowdin/de-DE/messages.json
  crowdin/en-US/messages.json
  crowdin/ko-KR/messages.json
  crowdin/pl-PL/messages.json
  crowdin/ru-RU/messages.json
  crowdin/zh-CN/messages.json
Labels: kind/documentation, size/M

#1508 New Crowdin updates
  crowdin/af-ZA/messages.json
  crowdin/ar-SA/messages.json
  crowdin/ca-ES/messages.json
  crowdin/cs-CZ/messages.json
  crowdin/da-DK/messages.json
  crowdin/de-DE/messages.json
  crowdin/el-GR/messages.json
  crowdin/en-US/messages.json
  crowdin/es-ES/messages.json
  crowdin/fi-FI/messages.json
  crowdin/fr-FR/messages.json
  crowdin/he-IL/messages.json
  crowdin/hu-HU/messages.json
  crowdin/it-IT/messages.json
  crowdin/ja-JP/messages.json
  crowdin/ko-KR/messages.json
  crowdin/nl-NL/messages.json
  crowdin/no-NO/messages.json
  crowdin/pl-PL/messages.json
  crowdin/pt-BR/messages.json
  crowdin/pt-PT/messages.json
  crowdin/ro-RO/messages.json
  crowdin/ru-RU/messages.json
  crowdin/sr-SP/messages.json
  crowdin/sv-SE/messages.json
  crowdin/tr-TR/messages.json
  crowdin/uk-UA/messages.json
  crowdin/vi-VN/messages.json
  crowdin/zh-CN/messages.json
  crowdin/zh-HK/messages.json
  crowdin/zh-TW/messages.json
Labels: kind/documentation, size/L

#1509 New Crowdin updates
  crowdin/af-ZA/messages.json
  crowdin/ar-SA/messages.json
  crowdin/ca-ES/messages.json
  crowdin/cs-CZ/messages.json
  crowdin/da-DK/messages.json
  crowdin/de-DE/messages.json
  crowdin/el-GR/messages.json
  crowdin/en-US/messages.json
  crowdin/es-ES/messages.json
  crowdin/fi-FI/messages.json
  crowdin/fr-FR/messages.json
  crowdin/he-IL/messages.json
  crowdin/hu-HU/messages.json
  crowdin/it-IT/messages.json
  crowdin/ja-JP/messages.json
  crowdin/ko-KR/messages.json
  crowdin/nl-NL/messages.json
  crowdin/no-NO/messages.json
  crowdin/pl-PL/messages.json
  crowdin/pt-BR/messages.json
  crowdin/pt-PT/messages.json
  crowdin/ro-RO/messages.json
  crowdin/ru-RU/messages.json
  crowdin/sr-SP/messages.json
  crowdin/sv-SE/messages.json
  crowdin/tr-TR/messages.json
  crowdin/uk-UA/messages.json
  crowdin/vi-VN/messages.json
  crowdin/zh-CN/messages.json
  crowdin/zh-HK/messages.json
  crowdin/zh-TW/messages.json
Labels: kind/documentation, size/L

#1511 New Crowdin updates
  crowdin/sv-SE/messages.json
Labels: kind/documentation, size/XS

#1531 Use issue forms (Also fixes broken issue templates)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/performance.md
  .github/ISSUE_TEMPLATE/performance.yml
  .github/ISSUE_TEMPLATE/wiki_contribute.md
  .github/ISSUE_TEMPLATE/wiki_contribution.yml
Labels: kind/documentation, size/L

#1534 5.0.0.2
  pom.xml
  src/main/java/org/maxgamer/quickshop/QuickShop.java
  src/main/java/org/maxgamer/quickshop/localization/text/SimpleTextManager.java
  src/main/java/org/maxgamer/quickshop/localization/text/TextMapper.java
  src/main/java/org/maxgamer/quickshop/localization/text/distributions/crowdin/CrowdinOTA.java
  src/main/resources/config.yml
Labels: size/M

#1535 5.0.0.3
  pom.xml
  src/main/java/org/maxgamer/quickshop/localization/game/game/distributions/MojangDistribution.java
  src/main/java/org/maxgamer/quickshop/localization/text/distributions/crowdin/CrowdinOTA.java
  src/main/java/org/maxgamer/quickshop/util/HttpUtil.java
  src/main/resources/config.yml
Labels: size/S
