Repository Ghost-chu/QuickShop-Reremake, pull requests merged in 2021-07, with the labels that each got.

#1253 New Crowdin updates
  src/main/resources/lang/es-ES/messages.json
Labels: kind/documentation, size/XS

#1271 4.0.9.5
  .github/workflows/maven.yml
  pom.xml
  src/main/java/org/maxgamer/quickshop/QuickShop.java
  src/main/java/org/maxgamer/quickshop/command/CommandManager.java
  src/main/java/org/maxgamer/quickshop/integration/worldguard/WorldGuardIntegration.java
  src/main/java/org/maxgamer/quickshop/listener/BlockListener.java
  src/main/java/org/maxgamer/quickshop/listener/LockListener.java
  src/main/java/org/maxgamer/quickshop/listener/ShopProtectionListener.java
  src/main/java/org/maxgamer/quickshop/shop/ContainerShop.java
  src/main/java/org/maxgamer/quickshop/shop/ShopLoader.java
  src/main/java/org/maxgamer/quickshop/shop/VirtualDisplayItem.java
  src/main/java/org/maxgamer/quickshop/util/GameVersion.java
  src/main/java/org/maxgamer/quickshop/util/Util.java
  src/main/java/org/maxgamer/quickshop/util/envcheck/EnvironmentChecker.java
  src/main/java/org/maxgamer/quickshop/watcher/OngoingFeeWatcher.java
  src/main/resources/config.yml
  src/main/resources/lang/es-ES/messages.json
  src/main/resources/lang/fi-FI/messages.json
  src/main/resources/lang/ja-JP/messages.json
  src/main/resources/lang/ru-RU/messages.json
  src/main/resources/lang/zh-CN/messages.json
Labels: kind/documentation, size/L

#1276 4.0.9.6
  pom.xml
  src/main/java/org/maxgamer/quickshop/shop/ShopManager.java
  src/main/java/org/maxgamer/quickshop/watcher/OngoingFeeWatcher.java
Labels: kind/documentation, size/XS

#1277 4.0.9.7
  pom.xml
  src/main/java/org/maxgamer/quickshop/shop/ContainerShop.java
  src/main/java/org/maxgamer/quickshop/util/Util.java
Labels: kind/documentation, size/S

#1279 New Crowdin updates
  src/main/resources/lang/es-ES/messages.json
Labels: kind/documentation, size/XS

#1260 Improved README with some HTML
  .github/icons/Bukkit.png
  .github/icons/Discord.svg
  .github/icons/Github.png
  .github/icons/Jenkins.svg
  .github/icons/MCBBS.png
  .github/icons/Spigot.png
  README.md
Labels: kind/documentation, size/L

#1287 New Crowdin updates
  src/main/resources/lang/es-ES/messages.json
  src/main/resources/lang/zh-HK/messages.json
Labels: kind/documentation

#1288 New Crowdin updates
  src/main/resources/lang/en-US/messages.json
Labels: kind/documentation, size/XS

#1293 Fixed many things with the Grief Prevention Integration
  src/main/java/org/maxgamer/quickshop/integration/griefprevention/GriefPreventionIntegration.java
Labels: kind/bug, size/M

#1295 New Crowdin updates
  src/main/resources/lang/da-DK/messages.json
Labels: kind/documentation, size/XS

#1297 Fixed some things in the Grief Prevention Integration to consider subclaims
  src/main/java/org/maxgamer/quickshop/QuickShop.java
  src/main/java/org/maxgamer/quickshop/integration/griefprevention/GriefPreventionIntegration.java
  src/main/resources/config.yml
Labels: kind/bug, size/M

#1325 New Crowdin updates
  src/main/resources/lang/zh-HK/messages.json
Labels: kind/documentation, size/XS

#1348 New Crowdin updates
  src/main/resources/lang/nl-NL/messages.json
Labels: kind/documentation, size/XS

#1350 New Crowdin updates
  src/main/resources/lang/nl-NL/messages.json
Labels: kind/documentation, size/S

#1352 Big changes/improvements/bug fixes to the Grief Prevention Integration
  src/main/java/org/maxgamer/quickshop/QuickShop.java
  src/main/java/org/maxgamer/quickshop/integration/griefprevention/GriefPreventionIntegration.java
  src/main/resources/config.yml
Labels: size/L

#1367 New Crowdin updates
  src/main/resources/lang/es-ES/messages.json
Labels: kind/documentation, size/XS

#1368 New Crowdin updates
  src/main/resources/lang/es-ES/messages.json
Labels: kind/documentation, size/XS
