Repository Ghost-chu/QuickShop-Reremake, pull requests merged in 2021-11, with the labels that each got.

#1543 5.0.0.4
  pom.xml
  src/main/java/org/maxgamer/quickshop/api/shop/Shop.java
  src/main/java/org/maxgamer/quickshop/localization/text/distributions/crowdin/CrowdinOTA.java
  src/main/java/org/maxgamer/quickshop/localization/text/distributions/crowdin/bean/Manifest.java
  src/main/java/org/maxgamer/quickshop/shop/ContainerShop.java
  src/main/java/org/maxgamer/quickshop/shop/SimpleShopManager.java
Labels: kind/documentation, size/L

#1546 5.0.0.5
  pom.xml
  src/main/java/org/maxgamer/quickshop/localization/text/SimpleTextManager.java
  src/main/java/org/maxgamer/quickshop/shop/ShopLoader.java
Labels: kind/documentation, size/S

#1547 New Crowdin updates
  crowdin/lang/es-ES/messages.json
Labels: kind/documentation, size/M

#1551 New Crowdin updates
  crowdin/lang/no-NO/messages.json
Labels: kind/documentation, size/M

#1555 New Crowdin updates
  crowdin/lang/es-ES/messages.json
Labels: kind/documentation, size/XS

#1556 5.0.0.6
  crowdin/lang/es-ES/messages.json
  crowdin/lang/no-NO/messages.json
  pom.xml
  src/main/java/org/maxgamer/quickshop/chat/platform/minedown/BungeeQuickChat.java
  src/main/java/org/maxgamer/quickshop/listener/PlayerListener.java
  src/main/java/org/maxgamer/quickshop/shop/SimpleShopManager.java
  src/main/java/org/maxgamer/quickshop/util/MsgUtil.java
  src/main/java/org/maxgamer/quickshop/util/TextSplitter.java
  src/main/java/org/maxgamer/quickshop/watcher/DisplayAutoDespawnWatcher.java
Labels: kind/documentation, size/L

#1559 New Crowdin updates
  crowdin/lang/cs-CZ/messages.json
Labels: kind/documentation, size/S

#1560 5.0.0.7
  .deepsource.toml
  crowdin/lang/cs-CZ/messages.json
  pom.xml
  src/main/java/org/maxgamer/quickshop/BuiltInSolution.java
  src/main/java/org/maxgamer/quickshop/QuickShop.java
  src/main/java/org/maxgamer/quickshop/api/economy/EconomyTransaction.java
  src/main/java/org/maxgamer/quickshop/economy/EconomyProviderNotFoundException.java
  src/main/java/org/maxgamer/quickshop/economy/Economy_GemsEconomy.java
  src/main/java/org/maxgamer/quickshop/economy/Economy_Reserve.java
  src/main/java/org/maxgamer/quickshop/economy/Economy_TNE.java
  src/main/java/org/maxgamer/quickshop/economy/Economy_Vault.java
  src/main/java/org/maxgamer/quickshop/localization/text/SimpleTextManager.java
  src/main/resources/plugin.yml
Labels: kind/documentation, size/L

#1562 Update /qs paste URL and fix labels in issue forms
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/performance.yml
  .github/ISSUE_TEMPLATE/wiki_contribution.yml
Labels: kind/documentation, size/S

#1564 5.0.0.8
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/performance.yml
  .github/ISSUE_TEMPLATE/wiki_contribution.yml
  pom.xml
  src/main/java/org/maxgamer/quickshop/BuiltInSolution.java
  src/main/java/org/maxgamer/quickshop/QuickShop.java
  src/main/java/org/maxgamer/quickshop/economy/EconomyProviderNotFoundException.java
  src/main/java/org/maxgamer/quickshop/economy/Economy_GemsEconomy.java
  src/main/java/org/maxgamer/quickshop/economy/Economy_Reserve.java
  src/main/java/org/maxgamer/quickshop/economy/Economy_TNE.java
  src/main/java/org/maxgamer/quickshop/economy/Economy_Vault.java
  src/main/java/org/maxgamer/quickshop/shop/ShopLoader.java
  src/main/resources/lang/messages.json
  src/main/resources/plugin.yml
Labels: kind/documentation, size/L

#1565 New Crowdin updates
  crowdin/lang/af-ZA/messages.json
  crowdin/lang/ar-SA/messages.json
  crowdin/lang/ca-ES/messages.json
  crowdin/lang/cs-CZ/messages.json
  crowdin/lang/da-DK/messages.json
  crowdin/lang/de-DE/messages.json
  crowdin/lang/el-GR/messages.json
  crowdin/lang/en-US/messages.json
  crowdin/lang/es-ES/messages.json
  crowdin/lang/fi-FI/messages.json
  crowdin/lang/fr-FR/messages.json
  crowdin/lang/he-IL/messages.json
  crowdin/lang/hu-HU/messages.json
  crowdin/lang/it-IT/messages.json
  crowdin/lang/ja-JP/messages.json
  crowdin/lang/ko-KR/messages.json
  crowdin/lang/nl-NL/messages.json
  crowdin/lang/no-NO/messages.json
  crowdin/lang/pl-PL/messages.json
  crowdin/lang/pt-BR/messages.json
  crowdin/lang/pt-PT/messages.json
  crowdin/lang/ro-RO/messages.json
  crowdin/lang/ru-RU/messages.json
  crowdin/lang/sr-SP/messages.json
  crowdin/lang/sv-SE/messages.json
  crowdin/lang/tr-TR/messages.json
  crowdin/lang/uk-UA/messages.json
  crowdin/lang/vi-VN/messages.json
  crowdin/lang/zh-CN/messages.json
  crowdin/lang/zh-HK/messages.json
  crowdin/lang/zh-TW/messages.json
Labels: kind/documentation, size/L

#1567 5.0.0.9
  crowdin/lang/af-ZA/messages.json
  crowdin/lang/ar-SA/messages.json
  crowdin/lang/ca-ES/messages.json
  crowdin/lang/cs-CZ/messages.json
  crowdin/lang/da-DK/messages.json
  crowdin/lang/de-DE/messages.json
  crowdin/lang/el-GR/messages.json
  crowdin/lang/en-US/messages.json
  crowdin/lang/es-ES/messages.json
  crowdin/lang/fi-FI/messages.json
  crowdin/lang/fr-FR/messages.json
  crowdin/lang/he-IL/messages.json
  crowdin/lang/hu-HU/messages.json
  crowdin/lang/it-IT/messages.json
  crowdin/lang/ja-JP/messages.json
  crowdin/lang/ko-KR/messages.json
  crowdin/lang/nl-NL/messages.json
  crowdin/lang/no-NO/messages.json
  crowdin/lang/pl-PL/messages.json
  crowdin/lang/pt-BR/messages.json
  crowdin/lang/pt-PT/messages.json
  crowdin/lang/ro-RO/messages.json
  crowdin/lang/ru-RU/messages.json
  crowdin/lang/sr-SP/messages.json
  crowdin/lang/sv-SE/messages.json
  crowdin/lang/tr-TR/messages.json
  crowdin/lang/uk-UA/messages.json
  crowdin/lang/vi-VN/messages.json
  crowdin/lang/zh-CN/messages.json
  crowdin/lang/zh-HK/messages.json
  crowdin/lang/zh-TW/messages.json
  pom.xml
  src/main/java/org/maxgamer/quickshop/listener/PlayerListener.java
  src/main/java/org/maxgamer/quickshop/localization/text/SimpleTextManager.java
  src/main/java/org/maxgamer/quickshop/shop/ContainerShop.java
  src/main/java/org/maxgamer/quickshop/shop/ShopLoader.java
  src/main/java/org/maxgamer/quickshop/util/Util.java
  src/main/java/org/maxgamer/quickshop/util/matcher/item/QuickShopItemMatcherImpl.java
  src/main/java/org/maxgamer/quickshop/util/paste/Paste.java
  src/main/java/org/maxgamer/quickshop/util/reporter/error/RollbarErrorReporter.java
  src/main/resources/lang/messages.json
Labels: kind/documentation, size/XL

#1568 New Crowdin updates
  crowdin/lang/de-DE/messages.json
  crowdin/lang/en-US/messages.json
  crowdin/lang/pl-PL/messages.json
  crowdin/lang/sv-SE/messages.json
  crowdin/lang/tr-TR/messages.json
Labels: kind/documentation, size/M

#1576 5.0.0.10
  crowdin/lang/de-DE/messages.json
  crowdin/lang/en-US/messages.json
  crowdin/lang/pl-PL/messages.json
  crowdin/lang/sv-SE/messages.json
  crowdin/lang/tr-TR/messages.json
  pom.xml
  src/main/java/org/maxgamer/quickshop/listener/PlayerListener.java
  src/main/java/org/maxgamer/quickshop/util/matcher/item/BukkitItemMatcherImpl.java
  src/main/java/org/maxgamer/quickshop/util/paste/Paste.java
  src/main/resources/config.yml
Labels: kind/documentation, size/L

#1581 5.0.0.10
  pom.xml
  src/main/java/org/maxgamer/quickshop/command/subcommand/SubCommand_Buy.java
  src/main/java/org/maxgamer/quickshop/command/subcommand/SubCommand_Item.java
  src/main/java/org/maxgamer/quickshop/command/subcommand/SubCommand_Price.java
  src/main/java/org/maxgamer/quickshop/command/subcommand/SubCommand_Sell.java
  src/main/java/org/maxgamer/quickshop/command/subcommand/SubCommand_SilentSell.java
  src/main/java/org/maxgamer/quickshop/command/subcommand/SubCommand_Size.java
  src/main/java/org/maxgamer/quickshop/command/subcommand/SubCommand_SuperCreate.java
  src/main/java/org/maxgamer/quickshop/listener/PlayerListener.java
  src/main/java/org/maxgamer/quickshop/shop/SimpleShopManager.java
  src/main/java/org/maxgamer/quickshop/util/MsgUtil.java
  src/main/java/org/maxgamer/quickshop/util/matcher/item/BukkitItemMatcherImpl.java
  src/main/java/org/maxgamer/quickshop/util/matcher/item/QuickShopItemMatcherImpl.java
Labels: kind/documentation, size/M

#1583 New Crowdin updates
  crowdin/lang/fr-FR/messages.json
Labels: kind/documentation, size/M

#1585 5.0.0.12
  crowdin/lang/fr-FR/messages.json
  pom.xml
  src/main/java/org/maxgamer/quickshop/QuickShop.java
  src/main/java/org/maxgamer/quickshop/api/economy/EconomyTransaction.java
  src/main/java/org/maxgamer/quickshop/integration/advancedregionmarket/AdvancedShopRegionMarketIntegration.java
  src/main/java/org/maxgamer/quickshop/listener/PlayerListener.java
  src/main/java/org/maxgamer/quickshop/shop/ContainerShop.java
  src/main/java/org/maxgamer/quickshop/shop/ShopLoader.java
  src/main/java/org/maxgamer/quickshop/util/economyformatter/EconomyFormatter.java
  src/main/java/org/maxgamer/quickshop/util/matcher/item/BukkitItemMatcherImpl.java
  src/main/java/org/maxgamer/quickshop/util/matcher/item/QuickShopItemMatcherImpl.java
  src/main/java/org/maxgamer/quickshop/util/paste/Paste.java
  src/main/resources/config.yml
Labels: kind/documentation, size/L

#1595 5.0.0.13
  pom.xml
  src/main/java/org/maxgamer/quickshop/integration/fabledskyblock/FabledIntegration.java
  src/main/java/org/maxgamer/quickshop/util/matcher/item/BukkitItemMatcherImpl.java
  src/main/java/org/maxgamer/quickshop/util/matcher/item/QuickShopItemMatcherImpl.java
Labels: kind/documentation, size/L

#1598 5.0.0.14
  pom.xml
  src/main/java/org/maxgamer/quickshop/QuickShop.java
  src/main/java/org/maxgamer/quickshop/integration/advancedregionmarket/AdvancedShopRegionMarketIntegration.java
Labels: kind/documentation

#1604 5.0.0.15
  pom.xml
  src/main/java/org/maxgamer/quickshop/BuildInfo.java
  src/main/java/org/maxgamer/quickshop/QuickShop.java
  src/main/java/org/maxgamer/quickshop/api/economy/AbstractEconomy.java
  src/main/java/org/maxgamer/quickshop/api/event/AbstractQSEvent.java
  src/main/java/org/maxgamer/quickshop/api/shop/AbstractDisplayItem.java
  src/main/java/org/maxgamer/quickshop/chat/platform/minedown/BungeeQuickChat.java
  src/main/java/org/maxgamer/quickshop/command/subcommand/SubCommand_Find.java
  src/main/java/org/maxgamer/quickshop/database/SQLiteCore.java
  src/main/java/org/maxgamer/quickshop/database/SimpleDatabaseHelper.java
  src/main/java/org/maxgamer/quickshop/economy/Economy_Reserve.java
  src/main/java/org/maxgamer/quickshop/integration/advancedregionmarket/AdvancedShopRegionMarketIntegration.java
  src/main/java/org/maxgamer/quickshop/integration/worldguard/WorldGuardIntegration.java
  src/main/java/org/maxgamer/quickshop/listener/PlayerListener.java
  src/main/java/org/maxgamer/quickshop/localization/text/SimpleTextManager.java
  src/main/java/org/maxgamer/quickshop/nonquickshopstuff/com/rylinaux/plugman/util/PluginUtil.java
  src/main/java/org/maxgamer/quickshop/shop/ContainerShop.java
  src/main/java/org/maxgamer/quickshop/shop/ShopLoader.java
  src/main/java/org/maxgamer/quickshop/shop/SimpleShopManager.java
  src/main/java/org/maxgamer/quickshop/util/collector/adapter/CollectorAdapter.java
  src/main/java/org/maxgamer/quickshop/util/envcheck/EnvironmentChecker.java
  src/main/java/org/maxgamer/quickshop/util/matcher/item/BukkitItemMatcherImpl.java
  src/main/java/org/maxgamer/quickshop/util/matcher/item/QuickShopItemMatcherImpl.java
  src/main/java/org/maxgamer/quickshop/util/reload/ReloadManager.java
  src/main/resources/config.yml
Labels: kind/documentation, size/L

#1608 5.0.0.16
  pom.xml
  src/main/java/org/maxgamer/quickshop/Cache.java
  src/main/java/org/maxgamer/quickshop/QuickShop.java
  src/main/java/org/maxgamer/quickshop/listener/AbstractProtectionListener.java
  src/main/java/org/maxgamer/quickshop/listener/BlockListener.java
  src/main/java/org/maxgamer/quickshop/shop/ContainerShop.java
  src/main/java/org/maxgamer/quickshop/shop/SimpleShopManager.java
  src/main/java/org/maxgamer/quickshop/util/Util.java
Labels: kind/documentation, size/L

#1609 New Crowdin updates
  crowdin/lang/nl-NL/messages.json
Labels: kind/documentation, size/XS
