Repository Ghost-chu/QuickShop-Reremake, pull requests merged in 2021-06, with the labels that each got.

#1148 New Crowdin updates
  src/main/resources/lang/sv-SE/messages.json
Labels: kind/feature, size/tiny

#1150 4.0.9.1
  deploy.sh
  pom.xml
  src/main/java/org/maxgamer/quickshop/QuickShop.java
  src/main/java/org/maxgamer/quickshop/shop/VirtualDisplayItem.java
  src/main/java/org/maxgamer/quickshop/util/MsgUtil.java
  src/main/resources/lang/sv-SE/messages.json
  src/test/java/org/maxgamer/quickshop/TestBukkitBase.java
  src/test/java/org/maxgamer/quickshop/util/MsgUtilTest.java
  src/test/java/org/maxgamer/quickshop/util/UtilTest.java
Labels: kind/ci, size/large

#1156 4.0.9.2
  pom.xml
  src/main/java/org/maxgamer/quickshop/QuickShop.java
  src/main/java/org/maxgamer/quickshop/database/DatabaseManager.java
  src/main/java/org/maxgamer/quickshop/shop/ContainerShop.java
  src/main/java/org/maxgamer/quickshop/shop/ShopLoader.java
  src/main/java/org/maxgamer/quickshop/shop/ShopManager.java
  src/main/java/org/maxgamer/quickshop/util/MsgUtil.java
  src/main/java/org/maxgamer/quickshop/util/PriceLimiter.java
  src/main/java/org/maxgamer/quickshop/util/Timer.java
  src/main/java/org/maxgamer/quickshop/util/Util.java
  src/main/java/org/maxgamer/quickshop/util/collector/adapter/CollectorAdapter.java
  src/main/resources/lang-original/messages.json
Labels: kind/documentation, size/L

#1159 New Crowdin updates
  src/main/resources/lang/zh-HK/messages.json
Labels: kind/documentation

#1161 New Crowdin updates
  src/main/resources/lang/sv-SE/messages.json
Labels: kind/documentation, size/XS

#1162 New Crowdin updates
  src/main/resources/lang/cs-CZ/messages.json
  src/main/resources/lang/no-NO/messages.json
Labels: kind/documentation, size/XS

#1163 New Crowdin updates
  src/main/resources/lang/zh-CN/messages.json
  src/main/resources/lang/zh-TW/messages.json
Labels: kind/documentation, size/S

#1164 New Crowdin updates
  src/main/resources/lang/ko-KR/messages.json
Labels: kind/documentation, size/XS

#1166 New Crowdin updates
  src/main/resources/lang/ko-KR/messages.json
Labels: kind/documentation, size/XS

#1168 New Crowdin updates
  src/main/resources/lang/cs-CZ/messages.json
Labels: kind/documentation, size/XS

#1169 New Crowdin updates
  src/main/resources/lang/tr-TR/messages.json
Labels: kind/documentation, size/M

#1176 New Crowdin updates
  src/main/resources/lang/tr-TR/messages.json
Labels: kind/documentation, size/XS

#1181 New Crowdin updates
  src/main/resources/lang/tr-TR/messages.json
Labels: kind/documentation, size/S

#1182 New Crowdin updates
  src/main/resources/lang/tr-TR/messages.json
Labels: kind/documentation, size/S

#1183 New Crowdin updates
  src/main/resources/lang/fi-FI/messages.json
Labels: kind/documentation, size/XS

#1184 New Crowdin updates
  src/main/resources/lang/fi-FI/messages.json
Labels: kind/documentation, size/XS

#1202 New Crowdin updates
  src/main/resources/lang/de-DE/messages.json
Labels: kind/documentation, size/XS

#1209 New Crowdin updates
  src/main/resources/lang/zh-CN/messages.json
Labels: kind/documentation, size/XS

#1208 Add support for PlotSquared 6 (WIP)
  .github/workflows/maven.yml
  lib/PlotSquared4-Bukkit-4.4.jar
  lib/PlotSquared5-Core-5.13.11.jar
  pom.xml
  src/integration/plotsquared/5/pom.xml
  src/integration/plotsquared/5/src/main/java/org/maxgamer/quickshop/integration/plotsquared/PlotSquaredIntegrationV5.java
  src/main/java/org/maxgamer/quickshop/integration/plotsquared/PlotSquaredIntegrationProxy.java
  src/main/java/org/maxgamer/quickshop/integration/plotsquared/PlotSquaredIntegrationV6.java
Labels: kind/feature, size/L

#1206 new release
  .github/workflows/maven.yml
  lib/PlotSquared4-Bukkit-4.4.jar
  lib/PlotSquared5-Core-5.13.11.jar
  pom.xml
  src/integration/plotsquared/5/pom.xml
  src/integration/plotsquared/5/src/main/java/org/maxgamer/quickshop/integration/plotsquared/PlotSquaredIntegrationV5.java
  src/main/java/org/maxgamer/quickshop/QuickShop.java
  src/main/java/org/maxgamer/quickshop/api/ShopAPI.java
  src/main/java/org/maxgamer/quickshop/command/CommandManager.java
  src/main/java/org/maxgamer/quickshop/command/subcommand/SubCommand_Reload.java
  src/main/java/org/maxgamer/quickshop/command/subcommand/SubCommand_SilentUnlimited.java
  src/main/java/org/maxgamer/quickshop/command/subcommand/SubCommand_Unlimited.java
  src/main/java/org/maxgamer/quickshop/command/subcommand/SubCommand_Update.java
  src/main/java/org/maxgamer/quickshop/integration/plotsquared/PlotSquaredIntegrationProxy.java
  src/main/java/org/maxgamer/quickshop/integration/plotsquared/PlotSquaredIntegrationV6.java
  src/main/java/org/maxgamer/quickshop/shop/ShopLoader.java
  src/main/java/org/maxgamer/quickshop/shop/VirtualDisplayItem.java
  src/main/java/org/maxgamer/quickshop/util/Timer.java
  src/main/java/org/maxgamer/quickshop/util/envcheck/EnvironmentChecker.java
  src/main/java/org/maxgamer/quickshop/util/updater/QuickUpdater.java
  src/main/java/org/maxgamer/quickshop/util/updater/impl/JenkinsUpdater.java
  src/main/resources/lang/af-ZA/messages.json
  src/main/resources/lang/ar-SA/messages.json
  src/main/resources/lang/ca-ES/messages.json
  src/main/resources/lang/cs-CZ/messages.json
  src/main/resources/lang/da-DK/messages.json
  src/main/resources/lang/de-DE/messages.json
  src/main/resources/lang/el-GR/messages.json
  src/main/resources/lang/en-US/messages.json
  src/main/resources/lang/es-ES/messages.json
  src/main/resources/lang/fi-FI/messages.json
  src/main/resources/lang/fr-FR/messages.json
  src/main/resources/lang/he-IL/messages.json
  src/main/resources/lang/hu-HU/messages.json
  src/main/resources/lang/it-IT/messages.json
  src/main/resources/lang/ja-JP/messages.json
  src/main/resources/lang/ko-KR/messages.json
  src/main/resources/lang/nl-NL/messages.json
  src/main/resources/lang/no-NO/messages.json
  src/main/resources/lang/pl-PL/messages.json
  src/main/resources/lang/pt-BR/messages.json
  src/main/resources/lang/pt-PT/messages.json
  src/main/resources/lang/ro-RO/messages.json
  src/main/resources/lang/ru-RU/messages.json
  src/main/resources/lang/sr-SP/messages.json
  src/main/resources/lang/sv-SE/messages.json
  src/main/resources/lang/tr-TR/messages.json
  src/main/resources/lang/uk-UA/messages.json
  src/main/resources/lang/vi-VN/messages.json
  src/main/resources/lang/zh-CN/messages.json
  src/main/resources/lang/zh-HK/messages.json
  src/main/resources/lang/zh-TW/messages.json
Labels: kind/documentation, size/XL

#1224 New Crowdin updates
  src/main/resources/lang/ru-RU/messages.json
Labels: kind/documentation, size/XS

#1225 New Crowdin updates
  src/main/resources/lang/ru-RU/messages.json
Labels: kind/documentation, size/M

#1236 New Crowdin updates
  src/main/resources/lang/zh-CN/messages.json
Labels: kind/documentation, size/XS
