Repository Ghost-chu/QuickShop-Reremake, pull requests merged in 2021-08, with the labels that each got.

#1364 Added whitelist-mode option to Towny Integration (user requested)
  src/main/java/org/maxgamer/quickshop/QuickShop.java
  src/main/java/org/maxgamer/quickshop/integration/towny/TownyIntegration.java
  src/main/resources/config.yml
Labels: kind/feature, size/S

#1374 New Crowdin updates
  src/main/resources/lang/pt-BR/messages.json
Labels: kind/documentation, size/S

#1375 New Crowdin updates
  src/main/resources/lang/pt-BR/messages.json
Labels: kind/documentation, size/M

#1376 New Crowdin updates
  src/main/resources/lang/zh-TW/messages.json
Labels: kind/documentation, size/S

#1381 Minor fix to a bug related to the TrustChangedEvent of GriefPrevention Integration
  src/main/java/org/maxgamer/quickshop/integration/griefprevention/GriefPreventionIntegration.java
Labels: kind/documentation, size/M

#1382 Minor Fix in GriefPrevention Integration
  src/main/java/org/maxgamer/quickshop/integration/griefprevention/GriefPreventionIntegration.java
Labels: kind/documentation, size/XS

#1408 New Crowdin updates
  src/main/resources/lang/sv-SE/messages.json
Labels: kind/documentation, size/S

#1424 New Crowdin updates
  src/main/resources/lang/zh-TW/messages.json
Labels: kind/documentation, size/XS

#1425 4.0.9.9
  pom.xml
  src/main/java/org/maxgamer/quickshop/integration/advancedregionmarket/AdvancedShopRegionMarketIntegration.java
  src/main/java/org/maxgamer/quickshop/shop/RealDisplayItem.java
  src/main/resources/lang/zh-TW/messages.json
Labels: kind/documentation, size/XS

#1428 New Crowdin updates
  src/main/resources/lang/zh-TW/messages.json
Labels: kind/documentation, size/XS

#1434 New Crowdin updates
  src/main/resources/lang/cs-CZ/messages.json
Labels: kind/documentation, size/XS

#1451 New Crowdin updates
  src/main/resources/lang/cs-CZ/messages.json
Labels: kind/documentation, size/XS

#1453 New Crowdin updates
  src/main/resources/lang/es-ES/messages.json
Labels: kind/documentation, size/XS

#1460 New Crowdin updates
  src/main/resources/lang/ca-ES/messages.json
Labels: kind/documentation, size/L

#1461 New Crowdin updates
  src/main/resources/lang/ca-ES/messages.json
  src/main/resources/lang/de-DE/messages.json
Labels: kind/documentation

#1463 New Crowdin updates
  src/main/resources/lang/es-ES/messages.json
Labels: kind/documentation, size/S

#1465 4.0.9.10
  pom.xml
  src/main/java/org/maxgamer/quickshop/command/CommandContainer.java
  src/main/java/org/maxgamer/quickshop/command/subcommand/SubCommand_Staff.java
  src/main/java/org/maxgamer/quickshop/command/subcommand/SubCommand_Update.java
  src/main/java/org/maxgamer/quickshop/integration/advancedregionmarket/AdvancedShopRegionMarketIntegration.java
  src/main/java/org/maxgamer/quickshop/shop/ContainerShop.java
  src/main/java/org/maxgamer/quickshop/util/GameVersion.java
  src/main/java/org/maxgamer/quickshop/util/Util.java
  src/main/java/org/maxgamer/quickshop/util/envcheck/EnvironmentChecker.java
  src/main/java/org/maxgamer/quickshop/util/updater/impl/JenkinsUpdater.java
  src/main/resources/lang/ca-ES/messages.json
  src/main/resources/lang/cs-CZ/messages.json
  src/main/resources/lang/de-DE/messages.json
  src/main/resources/lang/es-ES/messages.json
  src/main/resources/lang/zh-TW/messages.json
  src/main/resources/plugin.yml
  src/test/java/org/maxgamer/quickshop/eventmanager/ListenerContainerTest.java
Labels: kind/feature, kind/fix, size/XL

#1467 New Crowdin updates
  src/main/resources/lang/zh-TW/messages.json
Labels: kind/documentation, size/S

#1468 New Crowdin updates
  src/main/resources/lang/zh-TW/messages.json
Labels: kind/documentation, size/XS

#1470 New Crowdin updates
  src/main/resources/lang/zh-TW/messages.json
Labels: kind/documentation, size/XS

#1473 New Crowdin updates
  src/main/resources/lang/fr-FR/messages.json
Labels: kind/documentation, size/XS

#1474 New Crowdin updates
  src/main/resources/lang/fr-FR/messages.json
Labels: kind/documentation, size/M
